<section id="nav-bar">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 coluna">
        <img class="imagem" src="assets/img/garantia.png" alt="" />
        <span class="texto">30-DAY SATISFACTION GUARANTEE</span>
      </div>
      <div class="col-lg-3 coluna outros">
        <img class="imagem" src="assets/img/caminhao.png" alt="" />
        <span class="texto">Free delivery on orders over $40.00</span>
      </div>
      <div class="col-lg-3 coluna outros">
        <img class="imagem" src="assets/img/coracao.png" alt="" />
        <span class="texto">50.000+ HAPPY CUSTOMERS</span>
      </div>
      <div class="col-lg-3 coluna outros">
        <img class="imagem" src="assets/img/fluent-arrow.png" alt="" />
        <span class="texto">100% Money Back Guarantee</span>
      </div>
    </div>
  </div>
</section>
