<section id="corpo">
  <div class="container-fluid">
    <div class="row r-logo">
      <div class="caixa-logo">
        <div class="col">
          <img class="imagem" src="assets/img/logo.png" alt="" />
        </div>
        <div class="col c-mc">
          <img class="imagem" src="assets/img/mcafee.png" alt="" />
          <img class="imagem" src="assets/img/norton.png" alt="" />
        </div>
      </div>
      <div class="media-only">
        <img class="imagem" src="assets/img/media-logo.png" alt="" />
      </div>
    </div>
    <div class="row justify-content-center r-titulo">
      <span class="titulo">Wait ! your order in progress.</span>
    </div>
    <div class="row r-subtitulo justify-content-center">
      <span class="subtitulo">
        Lorem ipsum dolor sit amet, consectetur adipiscing
      </span>
    </div>
    <div class="row r-steps-media-only">
      <img class="imagem" src="assets/img/steps-media.png" alt="" />
    </div>
    <div class="r-steps row justify-content-center">
      <div class="col">
        <img class="imagem" src="assets/img/stepone.png" alt="" />
      </div>
      <div class="col">
        <img class="imagem" src="assets/img/steptwo.png" alt="" />
      </div>
      <div class="col">
        <img class="imagem" src="assets/img/stepthree.png" alt="" />
      </div>
      <div class="col">
        <img class="imagem" src="assets/img/stepfour.png" alt="" />
      </div>
    </div>
    <div class="container pb-5">
      <div class="r-anuncio row">
        <div class="col c-media-none">
          <div class="row p-4">
            <img class="imagem" src="assets/img/anuncio.png" alt="" />
          </div>
          <div class="row r-comentario">
            <img class="imagem" src="assets/img/coment.png" alt="" />
          </div>
        </div>
        <div class="col c-texto">
          <div class="row r-texto">
            <span class="onetime"> ONE TIME ONLY </span
            ><span class="texto"
              >special price for 6 extra Clarifion for only
            </span>
            <span class="onetime">$14 each </span>
            <span class="texto">($84.00 total!)</span>
          </div>
          <div class="row r-preco">
            <img class="imagem" src="assets/img/preco.png" alt="" />
          </div>
          <div class="row r-vantagens pb-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="22"
              viewBox="0 0 24 22"
              fill="none"
            >
              <path
                d="M1.99976 11L8.65858 18L21.9998 4"
                stroke="#2C7EF8"
                stroke-width="2.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            <span class="vantagem"> Negative Ion Technology may </span
            ><span class="enfase"> help with allergens</span><br />
          </div>
          <div class="row r-vantagens pb-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="22"
              viewBox="0 0 24 22"
              fill="none"
            >
              <path
                d="M1.99976 11L8.65858 18L21.9998 4"
                stroke="#2C7EF8"
                stroke-width="2.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            <span class="vantagem">Designed for </span
            ><span class="enfase"> air rejuvenation</span>
          </div>
          <div class="row r-vantagens">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="22"
              viewBox="0 0 24 22"
              fill="none"
            >
              <path
                d="M1.99976 11L8.65858 18L21.9998 4"
                stroke="#2C7EF8"
                stroke-width="2.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            <span class="enfase">Perfect for every room </span
            ><span class="vantagem"> in all type of places.</span><br />
          </div>
          <div class="row r-cupom">
            <img class="imagem" src="assets/img/cupom.png" alt="" />
          </div>
          <div class="row r-button">
            <button type="button" class="btn btn-primary btn-lg btn-block">
              Yes - Claim my discount
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="18"
                height="15"
                viewBox="0 0 18 15"
                fill="none"
              >
                <path
                  d="M17.0806 8.19875C17.4665 7.81284 17.4665 7.18716 17.0806 6.80125L10.7918 0.512475C10.4059 0.126565 9.78022 0.126565 9.39431 0.512475C9.0084 0.898386 9.0084 1.52407 9.39431 1.90998L14.9843 7.5L9.39431 13.09C9.0084 13.4759 9.0084 14.1016 9.39431 14.4875C9.78022 14.8734 10.4059 14.8734 10.7918 14.4875L17.0806 8.19875ZM0.381836 8.48819H16.3818V6.51181H0.381836V8.48819Z"
                  fill="white"
                />
              </svg>
            </button>
          </div>
          <div class="row justify-content-center r-selo pb-3">
            <img class="imagem pb-3" src="assets/img/selo.png" alt="" />
            <p class="no">No thanks, I don’t want this.</p>
          </div>
          <div class="row r-selo-satisf">
            <img class="imagem pb-3" src="assets/img/selosatisfac.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
